.author-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;

  .author-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;

    .author-photo {
      flex: 1 1 200px;
      text-align: center;
      img {
        max-width: 100%;
        border-radius: 8px;
      }
    }

    .author-data {
      flex: 2 1 300px;
      padding: 20px;
      h2 {
        font-size: 24px;
        margin-bottom: 10px;
      }
      p {
        margin: 5px 0;
      }

      .author-subjects {
        margin-top: 20px;

        .chips-container {
          display: flex;
          flex-wrap: wrap;

          .chip {
            background-color: #f1f1f1;
            padding: 8px 12px;
            border-radius: 16px;
            margin: 4px;
            font-size: 14px;
          }
        }
      }
    }
  }

  .error-message {
    color: red;
    font-weight: bold;
    margin-top: 20px;
  }
}
