// Define SCSS Variables
$primary-color: #007bff;
$hover-color: darken($primary-color, 15%);
$text-color: #333;
$secondary-text-color: #666;
$background-color: #ffffff;
$border-color: #e0e0e0;
$card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$border-radius: 10px;
$padding: 16px;
$gap: 20px;
$min-card-width: 250px;

// Book Card Container Styles
.book-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: $gap;
  padding: 25px; // Directly using variable for padding
  margin: 0 auto;

  .book-card {
    display: flex;
    flex-direction: column;
    background-color: $background-color;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    overflow: hidden;
    box-shadow: $card-shadow;
    transition: transform 0.3s;

    &:hover {
      transform: translateY(-5px);
    }

    .book-card-content {
      display: flex;
      padding: $padding; // Directly using variable for padding

      .book-card-image {
        flex: 0 0 100px;
        margin-right: $padding; // Directly using variable for margin
        cursor: pointer;
        img {
          height: 300px;
          width: 235px;
          border-radius: 4px;
        }
      }

      .book-card-info {
        flex: 1;
        display: flex;
        flex-direction: column;

        .book-card-title {
          font-size: 1.2em;
          margin: 0;
          cursor: pointer;
          color: $text-color;
          transition: color 0.2s;

          &:hover {
            color: $primary-color;
          }
        }

        .book-card-authors,
        .book-card-year {
          color: $secondary-text-color;
          margin: 4px 0;
        }
      }
    }

    .book-card-actions {
      margin-top: auto;
      padding: $padding; // Directly using variable for padding
      border-top: 1px solid $border-color;

      a {
        color: $primary-color;
        text-decoration: none;
        transition: color 0.2s;

        &:hover {
          color: $hover-color;
        }
      }
    }
  }


}

.error-message {
  color: red;
  font-weight: bold;
  margin-top: 20px;
  display: flex;
  justify-content: center;}
  
.spinner{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  font-size: xx-large;
}

@media (max-width: 768px) {
  .book-card-container {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)) !important;
    .book-card-content{
      flex-direction: column;
    }

    img{
      width: 104% !important;
    }
  }
}
